/* 
 Title: 3D flip card 

  Version:1.0 v

  Developer: Ashkan Salehpour

  Date:10/17/2022

  Description: 
    3D flip card which is useful in shopping websites . 
    It work with HTML / CSS.
*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

img{
    width: 250px;
}

body{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: linear-gradient(0deg, #00416a 0%, #e4e5e6 100%);
}

/* Start */

.card{
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0,0,0,0.15),0 20px 20px rgba(0,0,0,0.15);
   
}

/* Hover which use for parent */

.card:hover{
    transform: perspective(2000px) translateX(50%);
    box-shadow: inset 20px 0 50px rgba(0,0,0,0.15),0 10px 10px rgba(0,0,0,0.15);
}

/* Giving style to the cover of card */
.card .cover{
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    overflow: hidden;
    transition: 1s ease-in-out;
    transform-origin: left;
}
/* Start Giving Hover to the cover */
.card:hover .cover{
    transform: rotateY(-180deg);
}

.card .cover img{
    max-width: 100%; 
    z-index: 1;
}

.card .cover::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 150%;
    background-color: #fff;
    transform: rotate(36.5deg);
    box-shadow: 0 0 0 20px #47bfce;
    transition: 0.5s;
    transition-delay: .8s;

}

.card:hover .cover::before{
    width: 0;
    box-shadow: 0 0 0 250px #47bfce;
    transform: rotate(143.5deg);
}
/* End Giving Hover to the cover */

/* Start giving style to details */
.card .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}

.card .details h2{
    font-weight: 500;
    margin: 5px 0;
}

.card .details h3{
    font-size: 1.5em;
    color: #e92a5b;
    font-weight: 600;
}

.card .details a{
    display: inline-block;
    padding: 8px 20px;
    background: #47bfce;
    color: #fff;
    margin-top: 5px;
    letter-spacing: 1px;
    border-radius: 25px;
    font-weight: 500;
    text-decoration: none;
}
/* End giving style to details */